body{
            background: linear-gradient(rgb(138, 138, 138) ,rgb(172, 197, 193));
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
    
        }
        div{
            text-align: center;
            background: linear-gradient(to bottom,rgb(50, 234, 255),rgb(50, 234, 50));
            border-radius: 20px;
            border-style: solid;
            height: 250px;
            width: 350px;
            padding: 10px;
            margin: 20px;
        }

        input,button{
            opacity: 0.75;
            border-radius: 3px;
        }
        
        h3{
            margin-left: 20px;
            text-align: left;
        }
        input{
            width:65%;
            height:20px;
        }